
<p>

  Guten Tag, <%= @user.prename.capitalize%> <%= @user.lastname.capitalize%>!
</p>

<p>

  Willkommen beim Inventory Management System! Hier sind ihre Zugangsdaten mit generiertem Passwort für den erstmaligen Login:

  Benutzername: <%= @user.username %>
  Passwort: <%= @tmp_password %>



</p>
