<h1><%= t 'devices.edit.title' %></h1>

<div>
        <%= render 'form' %>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker();
        });
    </script>

</div>