<h1><%= t 'devices.edit.title' %></h1>

<div class="container">
  <div class="row">
    <div class='col-sm-6'>
        <%= render 'form' %>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker();
        });
    </script>
  </div>
</div>