<h1><%= t "users.edit.title" %></h1>

<%= render 'form' %>

<div>
  <a href="/users/"><button type="button" class="btn btn-primary"><%= (t "buttons.back") %></button></a>
  <% if !Right.find_by_user_id(@user.id).nil? && current_user.right.manage_rights==true %>
    <%= link_to (t "buttons.rights"), edit_right_path(Right.find_by_user_id(@user.id)), class: 'btn btn-info' %>
  <% end %>
</div>


