<form onsubmit="return false">
 <div class="form-group">
    <label for="barcode">Barcode</label>

    <div style="width:200px" class="input-group">
      <input type="text" autofocus class="form-control" placeholder="Barcode" id="barcode">
      <span class="input-group-btn">
        <button id="btnsearch" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        <button id="adddev" type="submit" class="btn btn-success add-dev">
          <span class=" glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
      </span>
    </div>
    <!-- /input-group -->
  </div>
</form>
