

<table>
  <thead>Bereits ausgewählte Devices
    <tr>
      <th>Device-ID</th>
    </tr>

  </thead>

  <tbody>
    <% @list.each do |elem| %>
    <tr>
      <td> <%= elem[:device_id] %> </td>
      <td><%= link_to 'Entfernen', delete_from_list_path %></td>
    </tr>
    <% end %>
  </tbody>


</table>