
<!-- Partial for first try of multiple-device-lending
 CURRENTLY UNUSED -->

<table>
  <thead>Bereits ausgewählte Devices
    <tr>
      <th>Device-ID</th>
    </tr>

  </thead>

  <tbody>
    <% @list.each do |elem| %>
    <tr>
      <td> <%= elem[:device_id] %> </td>
      <%= position = @list.index(elem) %>
      <td><%= link_to 'Entfernen', '/delete_from_list', {method: :post , position: position} %></td>
    </tr>
    <% end %>
  </tbody>


</table>