<<<<<<< HEAD
=======

>>>>>>> aa4193f25d85a76f72d9375319e450949f629769
<h1>New Lending</h1>

<%= render 'form' %>

<!--partial for first try of multiple-device-lending
%= render 'device_list' %-->
<<<<<<< HEAD

=======
>>>>>>> aa4193f25d85a76f72d9375319e450949f629769
