@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap3-switch"
@import "flag-icon-sass"
@import "bootstrap-datetimepicker"
@import "jquery-ui/autocomplete"

body
  background-color: #106079
  color: black
  font-size: 12px
  font-family: "Times New Roman"
  max-width: 100%
  margin: 0px
  border-radius: 8px

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  background-color: #119AC5
  border-radius: 8px
  color: white
  width: 100%

.nav-pills > li > a
  border-radius: 8px
  background-color: #15C2F8
  color: white
  width: 100%

.nav > li > a:hover, .nav > li > a:focus
  color: black

.nav-tabs > li > a
  border-color: white

#banner

  background-color: #FFFFFF
  background-position-x: 0px
  padding: 5px
  padding-bottom: 0px
  width: 100%

#logo

  float: left
  height: 80px
  background-image: url("../ims_logo.png")
  background-repeat: no-repeat
  width: 300px
  margin-bottom: 5px

#infobar
  margin-top: 45px
  float: right
  text-align: right

#language
  float: right

#status
  width: 100%
  height: 40px
  text-align: center
  background-color: #15C2F8
  color: white
  font-size: 22px
  font-weight: bold
  border-radius: 8px

#time
  font-weight: bold
  color: #FFFFFF

#time1
  font-weight: bold
  color: #FFFFFF

#timebox
  width: 100%
  text-align: right
  min-height: 36pt
  padding-top: 6px
  padding-right: 10px

#menucontainer
  float: left
  font-size: 25px
  text-align: center
  width: 12%

#content
  background-color: #FFFFFF
  float: right
  padding: 20px
  min-height: 400px
  text-align: left
  font-size: 15px
  opacity: 0.9
  border-radius: 8px
  width: 87%

#bgcontainer
  border: 20px solid transparent
  width: 100%

#logout
  float: right
  border-bottom-right-radius: 8px
  border-bottom-left-radius: 8px
  opacity: 0.9
  background-color: #FFFFFF
  color: black
  width: 15%
  border-top: 1px dashed #106079

.logoutbtn
  padding: 0px

.btn-warning
  color: white