// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.userCreation{
  background-color: lightgrey;
  border: 1px solid black;
}

<div id="menucontainer">
<br>
<ul class="nav nav-pills nav-stacked">
<li role="presentation"><a href="/starts/" >Start</a></li>
<li role="presentation"><a href="/starts/" >Einsatz</a></li>
<li role="presentation"><a href="/devices/" >Ger&auml;te</a></li>
<li role="presentation"><a href="/starts/" >Bestand</a></li>
<li role="presentation" class="active"><a href="/users/" >User</a></li>
<li role="presentation"><a href="/starts/" >Karte</a></li>
<li role="presentation"><a href="/starts/" >Suche</a></li>
<li role="presentation"><a href="/starts/" >Logout</a></li>
</ul>
</div>
