<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device_group.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @device_group.info %>
</p>

<a href="/device_groups/"><button type="button" class = "btn btn-primary" >Back</button></a>
<%if current_user.right.manage_users==true%><%= link_to 'Edit', edit_device_group_path(@device_group), class:'btn btn-warning' %><%end%>